@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    width: 100%;
    overflow-x: hidden;
}
nav{
    width: 100%;
    padding: 20px 100px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background: transparent;
    position: fixed;
    color: wheat;
}
.logo-list{
    display: flex;
    gap: 10px;
}
.logo-name span{
    color: rgb(99, 98, 98);
}
.logo{
    width: 50px;
}
nav Ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
}
.nav-right ul li .card{
    font-size: 20px;
}


/* -------------------------------------------------------------- */


.page1{
    width: 100%;
    height: 90vh;
    background-image: url(./image/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 1px;
    color: wheat;
}
.page1 > h3{
    margin-top: 37%;
}
.page1 > h3 span{
    color: rgb(179, 179, 179);
}
.page1 > h3 i{
    border-radius: 50%;
    background: white;
    color: black;
    margin: 4px;
}


/* ---------------------------------------------------------------- */


.page2{
    width: 100%;
    /* height: 100vh; */
    padding: 60px 0px;
    background: rgb(0, 0, 0);
    color: white;
}
.page2 .contents h3{
    text-align: center;
}
.page2 .contents .image-div{
    width: 100%;
    margin-top: 100px;
    /* background-color: #fff; */
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 5px;
}
.page2 .contents .image-div img{
    width: 430px;
}
#pic5{
    height: 484px;
    grid-row: span 2;
}


/* ----------------------------------------------------- */


.page3{
    width: 100%;
    height: 50%;
    background: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 100px 0;
    text-align: center;
}
.page3 p{
    width: 40%;
}
.page3 h1{
    font-family: Lobster;
}
footer{
    width: 100%;
    padding-top: 100px;
    /* padding-bottom: 50px; */
    text-align: center;
    background: black;
    color: white;
}
footer .upper-content{
    width: 100%;
    /* height: 40vh; */
    display: flex;
    justify-content: space-around;
    margin: 50px;
    margin-bottom: 60px;
}
footer p{
    margin: 50px 0px;
}
footer img{
    width: 40px;
}
.lower{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background: rgb(44, 44, 44);
}
.lower i{
    font-size: 30px;
}